/* This is a multi-line
comment. Add your CSS code
from Unit 1 - 5 below  */
h1 {
	color: rgb(2,132,130);
}

h2 {
	color: #ffd700;
}

h1, h2, p {
	text-align: center;
}



.board {
	height: 50%;
	width: 50%;
	display: inline-block;
}

.card {
	height: 200px;
	width: 150px;
	border: 1px solid black;
	border-radius: 10px;
	background-color: yellow;
	margin: 8%;
	float: left;
}

.name {
	color: #ff0000;
}

nav {
	background-color: #808080;
}

nav a {
	text-decoration: none;
	background-color: #ffbf00;
	color: white;
	display: block;
	float: left;
	padding: 35px;
}

nav a:hover {
	background-color: #ee5f3c;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}

footer {
	background-color: #808080;
}

img {
	height: 200px;
	width: 150px;
}
